
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white; 
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <!-- Rotate Left -->
  <span
  [inlineSVG]="'/assets/icon/baseline-rotate_left-24px.svg'"
  (click)="rotate(-90)"
  title="Rotate Left"
  ></span>
  <!-- Rotate Right-->
  <span
    [inlineSVG]="'/assets/icon/baseline-rotate_right-24px.svg'"
    (click)="rotate(90)"
    title="Rotate Right"
  ></span>

  <!-- Zoom in -->
  <span
    [inlineSVG]="'/assets/icon/baseline-zoom_in-24px.svg'"
    (click)="incrementZoom(0.1)"
    title="Zoom In"
  ></span>
  <!-- Zoom Out -->
  <span
    [inlineSVG]="'/assets/icon/baseline-zoom_out-24px.svg'"
    (click)="incrementZoom(-0.1)"
    title="Zoom Out"
  ></span>

  <!-- Share Button -->
  <button (click)= shareBox()> 
    Share
  </button>

</div>

<div class="content" role="main" style="z-index: 0;" (contextmenu)="onRightClick($event)">
  <h1>PDF Name</h1>
  <pdf-viewer
  [src]="pdfSrc"
  [render-text]="true"
  [rotation]="rotation"
  [zoom] = "zoom"
  style="display: block;">
  </pdf-viewer>
</div>
 
<div id="share">
  <button id="share-close" (click)=closeShare() style="float:right;">X</button>
  <h2>Share!</h2>
  <input type= "text" value=error id="sharelink">
  <share-button [theme]="'material-dark'" [button]="'copy'"></share-button>
  <div>
    <share-button button="email"></share-button>
  </div>
  <p>Disclaimer: PDF only visable by those with access to distribution statement _ because ...</p>
</div>

<router-outlet></router-outlet>