
<!-- Toolbar -->
<div class="toolbar" role="banner">

  <!-- Rotate Left -->
  <span
  class="fa fa-undo" 
  aria-hidden="true"
  (click)="rotate(-90)"
  title="Rotate Left"
  style="margin-left: 5px;"
  ></span>

  <br>
  <!-- Rotate Right-->
  <span
    class="fa fa-undo fa-flip-horizontal"
    (click)="rotate(90)"
    title="Rotate Right"
    style="margin-left: 5px;"
  ></span>

  <!-- Zoom in -->
  <span 
    class="fa fa-search-plus"
    aria-hidden="true"
    (click)="incrementZoom(0.1)"
    title="Zoom In"
    style="margin-left: 5px;"
  ></span>

  <!-- Zoom Out -->
  <span
    class="fa fa-search-minus"
    aria-hidden="true"
    (click)="incrementZoom(-0.1)"
    title="Zoom Out"
    style="margin-left: 5px;"
  ></span>

  <!-- Toggle all pages-->
  <span
    class="my-icon"
    [ngClass]="{ active: showAll }"
    [inlineSVG]="'/assets/icon/baseline-multi-pages-24px.svg'"
    (click)="showAll = !showAll"
    title="Toggle Show All"
    style="margin-left: 5px;"
  ></span>

  <ng-container *ngIf="!showAll">
    <span
      class="my-icon ml-auto"
      [inlineSVG]="'/assets/icon/baseline-navigate_before-24px.svg'"
      (click)="incrementPage(-1)"
      title="Previous Page"
    ></span>
    <span
      class="my-icon"
      [inlineSVG]="'/assets/icon/baseline-navigate_next-24px.svg'"
      (click)="incrementPage(1)"
      title="Next Page"
    ></span>
  </ng-container>

  <!-- Share Button -->
  <span (click)= openModal() class="fas fa-share-alt fa-inverse"></span>
  <button (click)= onOfflineClick()>Store Offline</button>
</div>

<div class="content" role="main" style="z-index: 0;" (contextmenu)="onRightClick($event)">
  <pdf-viewer
  [src]="pdfSrc"
  [render-text]="true"
  [rotation]="rotation"
  [zoom] = "zoom"
  [show-all] = "showAll"
  [(page)]="page"
  style="display: block;">
  </pdf-viewer>
</div>


<router-outlet></router-outlet>