/*Tool bar at the top of the screen*/
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1C2A43;
  color: white; 
  font-weight: 600;
  z-index: 5;
}

/* Toggle pages icon*/ 
svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}


/*The slash over the wifi icon*/
.fas.fa-slash {
    position: relative;
    top: -1px;
    left: -30px;
}