
<!-- Toolbar -->
<div class="toolbar" role="banner">

  <!-- Rotate Left -->
  <span
  class="fa fa-undo fa-lg" 
  aria-hidden="true"
  (click)="rotate(-90)"
  title="Rotate Left"
  style="margin-left: 5px;"
  ></span>

  <br>
  <!-- Rotate Right-->
  <span
    class="fa fa-undo fa-flip-horizontal fa-lg"
    (click)="rotate(90)"
    title="Rotate Right"
    style="margin-left: 5px;"
  ></span>

  <!-- Zoom in -->
  <span 
    class="fa fa-search-plus fa-lg"
    aria-hidden="true"
    (click)="incrementZoom(0.1)"
    title="Zoom In"
    style="margin-left: 5px;"
  ></span>

  <!-- Zoom Out -->
  <span
    class="fa fa-search-minus fa-lg"
    aria-hidden="true"
    (click)="incrementZoom(-0.1)"
    title="Zoom Out"
    style="margin-left: 5px;"
  ></span>

  <!-- Toggle all pages-->
  <span
    class="my-icon"
    [ngClass]="{ active: showAll }"
    [inlineSVG]="'/assets/icon/baseline-multi-pages-24px.svg'"
    (click)="showAll = !showAll"
    title="Toggle Show All"
    style="margin-left: 5px;"
  ></span>
  <ng-container *ngIf="!showAll">
    <span
      class="fas fa-chevron-left fa-lg"
      (click)="incrementPage(-1)"
      style="margin-left: 5px;"
      title="Previous Page"
    ></span>
    <input type= "text" value= {{page}} style = "width: 25px;">out of {{totalPages}}
    <span
      class="fas fa-chevron-right fa-lg"
      (click)="incrementPage(1)"
      style="margin-left: 5px;"
      title="Next Page"
    ></span>
  </ng-container>

  <!-- Share Button -->
  <span
  (click)= openModal() 
  class="fas fa-share-alt fa-inverse fa-lg"
  style="margin-left: 5px;"
  title="Share"
  ></span>

  <!-- Offline Database (Slash Icon over wifi icon) -->
  <div>
    <!-- Wifi Icon -->
    <i (click)= onOfflineClick() 
      title= "Add to Offline Database" 
      style="margin-left: 5px;" 
      class="fas fa-wifi fa-lg" 
      aria-hidden="true">
    </i>
    <!-- Slash Icon -->
    <i title= "Add to Offline Database" 
      (click)= onOfflineClick()  
      style="margin-left: 5px;" 
      class="fas fa-slash fa-lg" 
      aria-label="View offline">
    </i>
  </div>

</div>

<div class="content" role="main" style="z-index: 0;" (contextmenu)="onRightClick($event)">
  <pdf-viewer
  [src]="pdfSrc"
  [render-text]="true"
  [rotation]="rotation"
  [zoom] = "zoom"
  [show-all] = "showAll"
  [(page)]="page"
  style="display: block;"
  (after-load-complete)="afterLoadComplete($event)">
  </pdf-viewer>
</div>


<router-outlet></router-outlet>