/* Input box with link in it */
#sharelink{
    width: 85%;
}

/* All the share buttons at the bottom of the dialog box*/
.share-btns {
    display: inline-block;
    background-color: #EAEAEA;
    text-align: center;
    margin: 0 3px;
    font-size: 0.8rem;
    padding: 8px 10px;
}

/* makes the share buttons line up with their names vertically */
#shareIcon{
    display: block;
    margin-bottom: 2px;
    font-size: 1.8rem;
}
